/* ######## ABOUT ######## */
.myself {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
}

.myself img {
    width: 320px;
    border-radius: 10px;
}

#about-heading {
    text-align: center;
}

/* ################## Paragraphs ################### */
.intro, .myself img {
    -webkit-box-shadow: -8px 11px 13px -5px rgba(251,238,228,1);
    -moz-box-shadow: -8px 11px 13px -5px rgba(251,238,228,1);
    box-shadow: -8px 11px 13px -5px rgba(251,238,228,1);
    }
    
.intro,
.intro-about {
    /* border: 2px solid rgba(251, 238, 228, 100); */
    margin: 0 auto;
    text-align: center;
}

.intro-about {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

span a {
    text-decoration: none;
    color: #1d83ff;
}
span a:hover {
    text-decoration: underline;
}

p {
    font-size: 24px;
    letter-spacing: 2px;
}

.extra {
    color:#fbeee4;
    border:2px solid #fbeee4;
    text-align: center;
}