/* ######## ABOUT ######## */
.myself {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
}

.myself img {
    width: 320px;
    border-radius: 10px;
}

#about-heading {
    text-align: center;
}

/* ################## Paragraphs ################### */
.intro, .myself img {
    -webkit-box-shadow: 14px 15px 13px -5px rgba(0,0,0,1);
    -moz-box-shadow: 14px 15px 13px -5px rgba(0,0,0,1);
    box-shadow: 14px 15px 13px -5px rgba(0,0,0,1);
    }
    
.intro,
.intro-about {
    /* border: 2px solid rgba(251, 238, 228, 100); */
    margin: 0 auto;
    text-align: center;
}

.intro-about {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

span a {
    text-decoration: none;
    color: #1d83ff;
}
span a:hover {
    text-decoration: underline;
}

p {
    font-size: 24px;
    letter-spacing: 2px;
}

.extra {
    color:#fbeee4;
    border:2px solid #fbeee4;
    text-align: center;
}

/* skills */
.skills-wrapper {
    width: 100%;
}
.skills-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
}

.skills-col {
    padding: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.svg-logo {
    width: 100px;
    margin: 0 auto;
    padding: 10px;
    -webkit-box-shadow: 14px 15px 13px -5px rgba(0,0,0,1);
    -moz-box-shadow: 14px 15px 13px -5px rgba(0,0,0,1);
    box-shadow: 14px 15px 13px -5px rgba(0,0,0,1);
}

#github {
    background-color: #fff;
}

#skills-h2 {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .skills-col {
    padding: 8px;
    }
    .svg-logo {
        width: 70px;
    }
}

@media screen and (max-width: 400px) {
    .myself img {
        width: 200px;
    }
}