/* ############ Porfolio Projects ############# */

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
.project-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
}
.container {
    position: relative;
    overflow: hidden;
    margin: 10px;
    margin-top: 2rem;
    min-width: 230px;
    width: 100%;
    color: #fbeee4;
    text-align: left;
    line-height: 1.4em;
    background-color: #181a18;
    border-radius: 5px;
    -webkit-box-shadow: 14px 15px 13px -5px rgba(0,0,0,1);
    -moz-box-shadow: 14px 15px 13px -5px rgba(0,0,0,1);
    box-shadow: 14px 15px 13px -5px rgba(0,0,0,1);
}
.container * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.container img {
    max-width: 100%;
    vertical-align: top;
    opacity: 0.85;
}

.container figcaption {
    width: 100%;
    background-color: #181a18;
    padding: 0 25px 25px;
    position: relative;
}

.container figcaption:before {
    position: absolute;
    content: '';
    bottom: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 55px 0 0 400px;
    border-color: transparent transparent transparent #181a18;
}

.container h2 {
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.2em;
}

.portfolio-h2 {
    margin-top: 6rem;
    text-align: center;
}

/* buttons */
.link-wrapper {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
}
.web-link {
    display: flex;
    padding: 8px 16px;
    color: #1d83ff;
    margin-top: 1.2rem;
    text-decoration: none;
    font-weight: bold;
    -webkit-box-shadow: 14px 15px 13px -5px rgba(0,0,0,1);
    -moz-box-shadow: 14px 15px 13px -5px rgba(0,0,0,1);
    box-shadow: 14px 15px 13px -5px rgba(0,0,0,1);
}
.web-link:hover {
    -webkit-box-shadow: 7px 8px 13px -3px rgb(228, 228, 228);
    -moz-box-shadow: 7px 8px 13px -3px rgb(229, 229, 229);
    box-shadow: 7px 8px 13px -3px rgb(228, 228, 228);
}

.desc-container {
    max-height: 50px;
    margin-bottom: 30px;
}

.desc-container p {
    font-size: 14px;
}

.bullet-container {
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .project-container {
        flex-direction: column;
        max-width: 80%;
        margin: 0 auto;
        height: auto;
    }
    }