@import url(navigation.css);
@import url(portfolio.css);
@import url(about.css);
@import url(contact.css);

* {
    box-sizing: border-box;
  }
  
html {
scroll-behavior: smooth;
}
body {
    font-family: 'Meera Inimai', sans-serif;
    background-color: #181a18;
    color: #fbeee4;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#waving {
    width: 30px;
}

#top-heading {
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-weight: 700;
}

#home-column-text {
    font-family: 'Meera Inimai', sans-serif;
}

#home {
    padding-top: 7rem;
}
#about {
    padding-top: 5rem;
}
#portfolio {
    padding-top: 8rem;
}
#contact {
    padding-top: 9.5rem;
}

/*######## BODY/MAIN ########*/
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
}
.column {
    margin: 30px 15px 30px 15px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.content-wrapper {
    max-width: 1080px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 0 1rem 0;
}

.logo-link {
    text-decoration: none;
}

h1 {
    font-size: 46px;
    font-weight: 500;
    color: #fbeee4;
    text-align: center;
}

 p {
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    color:#fbeee4;
}



/* ################### FOOTER #################### */
footer {
    margin-top: auto;
}
.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
    width: 100%;
    background-color:#1f2122;
    bottom: 0;
    margin-top: 50px;
    margin-bottom: -5rem;
}

.social-media {
text-align: center;
color: #1d83ff;
font-size: 28px;
}

.copy {
    color:#fbeee4;
}

.social-media i {
    margin: 0 10px 20px 10px;
}

.social-media,
.copy-container {
    text-align: center;
} 

@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    .column {
        margin: 0 auto;
        width: 80%;
    }
    .intro-column {
        display: block!important;
    }
    .myself {
        float: left;
    }
    #top-heading, #about-heading  {
        text-align: left;
        margin-left: 10%;
        margin-right: 10%;
    }
    #top-heading {
        font-size: 30px;
    }
    #about-heading {
        font-size: 18px;
    }
    .logo {
        font-size: 30px;
    }
    p {
        font-size: 16px;
    }
    .social-media {
        font-size: 18px;
    }
    .copy {
        font-size: 14px;
    }
}

@media screen and (max-width: 360px) {
    .project-container {
        max-width: 100%;
    }
}

